* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: hsl(250, 6%, 84%);
}

body{
  overflow-x: hidden;
}
main {
  background-color: hsl(243, 96%, 9%);
  height: 130vh;
  width: 100vw;
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1;
  padding: 0px 100px;

}

.navbar {
  padding: 32px 0;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1;
  right: 0%;
  top: 130%;
  width: 170px;
  background-color: hsl(243, 23%, 30%);
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 0px 10px grey;
}

.dropdown-content h5:hover {
  cursor: pointer;
}

.content-items {
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0px 1px 0px rgba(132, 0, 255, 0.3);
  padding: 5px;
  font-size: medium;
}

.content-items h6 {
  padding: 2px 2px;
}

.content-items p {
  padding-top: 5px;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-items p:hover {
  background-color: hsl(243, 27%, 20%);
  opacity: 0.7;
  cursor: pointer;
}

.container-items-active {
  background-color: hsl(243, 27%, 20%);
  opacity: 0.7;
}

.select {
  background-color: hsl(243, 23%, 30%);
  padding: 8px;
  display: flex;
  gap: 5px;
  border-radius: 5px;
}

.select:hover {
  cursor: pointer;
}

.select .bi-gear-fill {
  transition: transform 1s ease;
}

.gear-spin {
  transform: rotate(90deg);
}

.select .bi-arrow-down {
  display: inline-block;
  transition: transform 0.3s ease;
}

.flip {
  transform: rotateX(0.5turn);
}

/* Title */
.title {
  text-align: center;
}

/* Search bar */
.search-bar {
  display:flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;
  width:100%;
  
}

.input-wrapper{
  position: relative;
}

.search-bar form {
  display: flex;
  gap: 10px;
}

.search-bar form input {
  border: none;
  height: 30px;
  border-radius: 5px;
  background-color: hsl(243, 23%, 30%);
  padding: 8px 16px;
  transition: 0.5s ease-in-out;
}

.search-bar form input:focus {
  box-shadow: 0px 0px 10px blueviolet;
  outline: none;
}

.search-bar form button {
  background-color: rgb(98, 100, 216);
  border: none;
  padding: 4px 8px;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.search-bar form button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px white;
}

/* Location suggestions display */
.location-suggestions{
  position: absolute;
  z-index: 1;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
  
}


.weather {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  overflow: hidden;
  gap: 50px;
}

.data {
  display: grid;
  grid-template-rows: 8fr 1fr 1fr;
  overflow: hidden;
  gap: 30px;
}

.today {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 32px;
}

.today-text {
  line-height: 30px;
}

.weather-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-icon p {
  font-size: 120px;
  font-style: oblique;

}

.forecast{
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(170px,1fr)) ;
  grid-auto-rows:70px ;
  gap: 20px;
}

.forecast-details{
  height: 100%;
  border-radius: 10px;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  background-color: hsl(243, 23%, 30%) ;
  gap: 10px;

}
.week{
  margin-top: 30px;
  display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-template-rows: 100px;
    gap: 15px;
}
.day-of-the-week{
  background-color: hsl(243, 23%, 30%) ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:8px 16px;

}

.hourly-forecast{
  width: 100%;
  height: 100%;
  background-color: hsl(243, 23%, 30%) ;
  border-radius: 10px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.hourly-title{
  display: flex;
  justify-content: space-between;
}

.hourly-weather{
  display: grid;
  grid-auto-rows: 45px;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.hourly-data{
  
  justify-content: center;

}